body {
   background-color: #fbf8ef;
   color: #000000;
   font-family: 'Cormorant Infant', serif;
   font-size: 20px;
}

[class*='__container'] {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.nav-section__container {
   padding-top: 100px;
}

.nav {
   display: flex;
   flex-direction: column;
   text-align: center;
   flex-wrap: wrap;
   row-gap: 40px;
}

.nav--fd-row {
   flex-direction: row;
   justify-content: center;
   column-gap: 40px;
}

.nav__link {
   font-size: 40px;
   line-height: 1.5;
   border-bottom: 1px solid transparent;
   transition: all 0.3s linear;
}

.nav__link--active {
   color: #dc7106;
}

@media (any-hover: hover) {
   .nav__link:hover {
      border-bottom: 1px solid;
   }
}

.nav__link:focus {
   outline: 1px solid #dc7106;
}

.footer__container {
   padding-top: 10px;
   padding-bottom: 10px;
}

.footer__container > * {
   margin-bottom: 30px;
}

.footer__info {
   text-align: center;
   color: rgba(48, 48, 48, 0.7);
}

.footer__info > a {
   color: #303030;
   border-bottom: 1px solid;
   outline: 1px solid transparent;
   transition: all 0.3s linear;
}

@media (any-hover: hover) {
   .footer__info > a:hover {
      color: #dc7106;
   }
}

.footer__info > a:focus {
   color: #dc7106;
   outline: 1px solid #dc7106;
}

.footer__name {
   font-family: 'Ephesis', cursive;
   font-size: 30px;
   line-height: 2;
   text-align: center;
}

/* example */
/* @media (any-hover: hover) {
   a:hover {
      color: blueviolet;
   }
} */

.footer__container > *:last-child {
   margin-bottom: 0;
}
