.btn {
   font-family: 'Causten', sans-serif;
   font-size: 18px;
   font-weight: 500;
   border-radius: 8px;
   padding: 14px 28px;
   color: #fff;
   background-color: #8a33fd;
   border: 1px solid #8a33fd;

   transition: all 300ms;
}

.btn:hover {
   color: #8a33fd;
   background-color: #fff;
   border-color: #8a33fd;
}

.btn:focus {
   outline: 1px solid #240d42;
}

.img-wrapper img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.body--clothing-page {
   background-color: #fff;
   color: #333;
   font-size: 18px;
}

.clothing-header {
   padding: 31px 0;
   border-bottom: 1px solid #bebcbd;
}

.clothing-header--mb {
   margin-bottom: 100px;
}

.clothing-header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.clothing-header__left-path {
   flex: 0 0 auto;
   display: flex;
   align-items: center;
   gap: 30px;
   justify-content: space-between;
}

.clothing-header__right-path {
   flex: 0 0 auto;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 60px;
}

.clothing-header__logo {
   flex: 0 0 91px;
   transition: transform 300ms;
}

.clothing-header__logo:hover {
   transform: scale(1.1);
}

.clothing-header__input-wrapper {
   position: relative;
   flex: 0 0 187px;
}

.clothing-header__input-wrapper::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 48px;
   transform: translateY(-50%);
   background: url('../img/search.svg') center no-repeat;
   width: 20px;
   height: 20px;
}

.clothing-header__input {
   font-size: 18px;
   font-weight: 500;
   width: 100%;
   padding: 12px 48px 12px 80px;
   border-radius: 8px;
   color: #807d7e;
   background-color: #f6f6f6;
   border: 1px solid transparent;

   transition: border 300ms;
}

.clothing-header__input::placeholder {
   font-size: 18px;
   font-weight: 500;
   transition: opacity 300ms;
}

.clothing-header__input:hover {
   border: 1px solid #807d7e;
}

.clothing-header__input:focus {
   outline: 1px solid #807d7e;
}

.clothing-header__input:focus::placeholder {
   opacity: 0;
}

.language {
   flex: 0 0 auto;
   position: relative;
   perspective: 800px;
   transform-style: preserve-3d;

   cursor: pointer;
}

.language__current {
   z-index: 2;
   position: relative;
   line-height: 1.22;
   padding: 10px 36px 10px 10px;
   background-color: #fff;

   transition: color 300ms;
}

.language:hover .language__current {
   color: #8a33fd;
}

.language__current::after {
   content: '';
   position: absolute;
   top: 60%;
   right: 7px;
   transform: rotateX(0deg) translateY(-50%);
   border: 5px solid transparent;
   border-top: 5px solid #333;

   transition: transform 300ms, border-color 300ms;
}

.language:hover .language__current::after {
   transform: rotateX(180deg) translateY(100%);
   border-top-color: #8a33fd;
}

.language__list {
   z-index: 1;
   width: 100%;
   position: absolute;
   transform: translateY(-30%) rotateX(45deg);
   opacity: 0;
   visibility: hidden;

   transition: all 400ms;
}

.language:hover .language__list {
   opacity: 1;
   visibility: visible;
   transform: translateY(0%) rotateX(0deg);
}

.language__item {
   padding: 10px 10px 10px 10px;
   background-color: #f6f6f6;

   transition: color 300ms, background-color 300ms;
}

.language__item:not(:last-child) {
   border-bottom: 1px solid #bebcbd;
}

.language__item:hover {
   color: #8a33fd;
   background-color: #d7bbfc;
}

.clothing-header__buttons {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   gap: 29px;
}

.clothing-header__user-btn {
   flex: 0 0 auto;
   padding: 12px 46px;
   border: 1px solid #3c4242;
   color: #8a33fd;
   background-color: transparent;
}

.clothing-header__user-btn:hover,
.clothing-header__user-btn:focus {
   color: #ffffff;
   border-color: #8a33fd;
   background-color: #8a33fd;
}

.clothing-header__user-btn:focus {
   outline: 1px solid #8a33fd;
}

.categories--mb,
.wishlist--mb {
   margin-bottom: 100px;
}

.orders--mb {
   margin-bottom: 50px;
}

.section-title {
   font-family: 'Core Sans C', sans-serif;
   font-size: 28px;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: 0.56px;
   color: #3c4242;
}

.categories__section-title {
   position: relative;
   font-family: 'Core Sans C', sans-serif;
   font-size: 34px;
   font-weight: 700;
   letter-spacing: 0.68px;
   color: #3c4242;
   padding-left: 26px;
   margin-bottom: 70px;
}

.categories__section-title::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 6px;
   height: 30px;
   border-radius: 10px;
   background-color: #8a33fd;
}

.categories__list {
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   row-gap: 50px;
   margin: 0 -25px;
   overflow: hidden;
}

.categories__wrapper-card {
   flex: 0 0 25%;
   padding: 0 25px;
}

.card {
   display: flex;
   flex-direction: column;
   gap: 15px;
   min-height: 100%;

   transition: all 300ms;
}

.card__img {
   position: relative;
   overflow: hidden;
   border-radius: 10px;
}

.card__img::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.2);
   opacity: 1;
   visibility: visible;
   transition: all 300ms;
}

.card__img:hover::after,
.card__img:focus::after {
   opacity: 0;
   visibility: hidden;
}

.card__body {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 30px;
}

.card__text-content > * {
   margin-bottom: 4px;
}

.card__text-content > *:last-child {
   margin-bottom: 0;
}

.card__title {
   font-size: 18px;
   font-weight: 700;
   line-height: 1.22;
   letter-spacing: -0.715px;
   color: #2a2f2f;
}

.card__title-link {
   transition: color 300ms;
}

.card__title-link:hover {
   color: #8a33fd;
}

.card__text {
   font-size: 14px;
   font-weight: 500;
   line-height: 1.22;
   letter-spacing: -0.536px;
   color: #7f7f7f;
}

.card__link {
   flex: 0 0 auto;
   padding: 15px 0;
   transform: scale(1);

   transition: transform 300ms;
}

.card__link:hover {
   transform: scale(1.1);
}

.body--clothing-page .wishlist__container {
   max-width: 896px;
}

.wishlist__container > *:not(:last-child) {
   margin-bottom: 50px;
}

.wishlist__list > *:not(:last-child) {
   margin-bottom: 30px;
}

.wishlist__item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 36px;
   padding-bottom: 30px;
   border-bottom: 2px solid #edeef2;
}

.wishlist__close-btn {
   flex: 0 0 22px;
   height: 22px;
   transition: transform 300ms;
}

.wishlist__close-btn img,
.wishlist__img-wrapper img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.wishlist__close-btn:hover {
   transform: scale(1.2);
}

.wishlist__img-wrapper {
   flex: 0 0 110px;
   height: 110px;
   border-radius: 4px;
   overflow: hidden;

   transition: transform 300ms;
}

.wishlist__img-wrapper:hover {
   transform: scale(1.1);
}

.wishlist__text-content {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 50px;

   font-size: 22px;
   line-height: 1;
   letter-spacing: 0.44px;
   font-weight: 500;
   color: #807d7e;
}

.wishlist__info {
   flex: 1 1 auto;
   align-self: flex-start;
}

.wishlist__info > *:not(:last-child) {
   margin-bottom: 12px;
}

.wishlist__title,
.wishlist__accent {
   font-weight: 700;
   color: #3c4242;
}

.wishlist__title-link {
   transition: color 300ms;
}

.wishlist__title-link:hover {
   color: #8a33fd;
}

.wishlist__price {
   flex: 0 0 auto;
   font-weight: 700;
}

.wishlist__buy-btn {
   flex: 0 0 auto;
   line-height: 1.22;
   color: #fff;
   background: #8a33fd;
   border: 1px solid #8a33fd;
}

.wishlist__buy-btn:hover {
   color: #8a33fd;
   background: #fff;
}

.body--clothing-page .orders__container {
   max-width: 895px;
}

.orders__item {
   padding-bottom: 30px;
   border-bottom: 2px solid #edeef2;
}

.orders__item:not(:last-child),
.orders__item > *:not(:last-child) {
   margin-bottom: 30px;
}

.orders__about-order {
   padding: 28px 47px;
   border-radius: 8px;
   background: #f6f6f6;
}

.orders__about-order > *:not(:last-child) {
   margin-bottom: 14px;
}

.orders__number {
   font-size: 20px;
   font-weight: 600;
   color: #3c4242;
}

.orders__extended-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}

.orders__date-block > *:not(:last-child),
.orders__status-block > *:not(:last-child) {
   margin-bottom: 7px;
}

.orders__date-block {
   flex: 0 0 auto;
}

.orders__status-block {
   flex: 0 0 auto;
   text-align: end;
}

.text-wrapper {
   font-size: 14px;
   line-height: 1;
   color: #bebcbd;
}

.accent-text {
   font-weight: 600;
   color: #807d7e;
}

.orders__about-product {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 25px;
}

.orders__about-product-text {
   flex: 1 1 auto;
   font-weight: 600;
}

.orders__about-product-text > * {
   margin-bottom: 5px;
}

.orders__product-title {
   margin-bottom: 10px;
}

.orders__product-title-link {
   transition: color 300ms;
}

.orders__product-title-link:focus {
   outline: 1px solid #8a33fd;
}

.orders__product-title-link:hover {
   color: #8a33fd;
}

.accent-text--color {
   color: #3c4242;
}

.orders__product-title {
   font-size: 16px;
   color: #3c4242;
}

.orders__img-wrapper {
   flex: 0 0 96px;
   height: 96px;
   border-radius: 4px;
   overflow: hidden;
   transition: transform 300ms;
}

.orders__img-wrapper:hover {
   transform: scale(1.1);
}

.orders__details-btn {
   flex: 0 0 auto;
}
