/* font-family: 'Causten', sant-serif; */

@import url('fonts.css');
@import url('reset.css');

body {
   font-family: 'Causten', sant-serif;
   background-color: #3c4242;
   color: #f6f6f6;
}

h1,
h2,
h3 {
   font-weight: 700;
   text-align: center;
}

[class*='-container'] {
   max-width: 1250px;
   padding: 0 15px;
   margin: 0 auto;
}

/* ==================header, footer===================== */
.page-header,
.page-footer {
   padding: 40px 0;
}

.nav-link,
.up-link {
   font-family: 'Causten', sant-serif;
   font-size: 24px;
   font-weight: 500;
   color: #f6f6f6;

   transition: all 250ms;
}

.nav-link {
   padding: 3px 6px;
}

.nav-link:focus {
   outline: 1px solid orangered;
   color: orangered;
}

.nav-link:hover {
   color: orangered;
}

.page-header .nav-link::before,
.page-footer .nav-link::after {
   content: '';
   width: 10px;
   height: 2px;
   background-color: #f6f6f6;
   vertical-align: middle;
}

.page-header .nav-link::before {
   margin-right: 6px;
}
.page-footer .nav-link::after {
   margin-left: 6px;
}

.nav-link:focus::before,
.nav-link:focus::after,
.nav-link:hover::before,
.nav-link:hover::after {
   background-color: orangered;
}

.nav-item:not(:last-child) {
   margin-bottom: 10px;
}

.page-footer .nav {
   margin-bottom: 20px;
}

.page-footer .nav {
   text-align: end;
}

.link-wrapper {
   text-align: end;
}

.up-link {
   display: inline-block;
   border-radius: 50%;
   padding: 10px;
   border: 2px solid transparent;
}

.up-link:focus {
   outline: 2px solid #f6f6f6;
}

.up-link:hover {
   border-color: #f6f6f6;
}

.up-link::after {
   content: url('../img/arrow.svg');
   margin-left: 6px;
   vertical-align: middle;
}

.header-container:last-child,
.footer-container:last-child {
   margin-bottom: 0;
}

/* =====================hero====================== */
.hero {
   padding: 150px 0;
   background: #3c4242 url('../img/bg-img.jpg') center / cover no-repeat;
}

h1 {
   font-size: 36px;
}

/* =====================examples====================== */
.state-pseudo-class {
   padding: 80px 0;
}

.example-section h2 {
   font-size: 30px;
   margin-bottom: 40px;
}

.examples-list > li:not(:last-child) {
   margin-bottom: 30px;
}

.state-pseudo-class-list {
   font-size: 0;
   text-align: center;
}

.state-pseudo-class-list li {
   display: inline-block;
   vertical-align: top;
}

.state-pseudo-class-list li:not(:last-child) {
   margin-right: 30px;
}

.state-pseudo-class-list .link {
   display: inline-block;
   font-size: 28px;
   padding: 30px 20px;
   border-radius: 4px;
   transition: all 250ms;
}

.state-pseudo-class-list .first-link {
   background-color: #b70707;
   border: 1px solid transparent;
}

.state-pseudo-class-list .second-link {
   background: linear-gradient(
         95deg,
         rgba(251, 239, 32, 1) 15%,
         rgb(246, 49, 42) 45%,
         rgba(38, 185, 30, 1) 85%
      )
      center/ auto 100% no-repeat;
}

.state-pseudo-class-list .third-link {
   background: url('../img/bg-btn.png') center / cover no-repeat;
}

.state-pseudo-class-list .fourth-link {
   margin-bottom: 10px;
   background-color: rgb(255, 162, 0);
}

.state-pseudo-class-list .fourth-text {
   font-size: 20px;
   padding: 10px;
   border-radius: 4px;
   background-color: rgb(255, 162, 0);
   transition: all 500ms;

   visibility: hidden;
   opacity: 0;
}

/* hover-------------------------- */
.state-pseudo-class-list .first-link:hover,
.state-pseudo-class-list .first-link:focus {
   border-color: #f6f6f6;
}

.state-pseudo-class-list .second-link:hover {
   transform: scale(1.2);
}

.state-pseudo-class-list .third-link:hover {
   filter: drop-shadow(0 0 0.75rem rgb(27, 24, 24));
}

/* focus-------------------------- */
.state-pseudo-class-list .first-link:focus {
   outline: 2px solid #f6f6f6;
}

.state-pseudo-class-list .second-link:focus {
   outline: 2px solid rgb(255, 72, 0);
}

.state-pseudo-class-list .third-link:focus {
   outline: 2px solid rgba(0, 0, 0, 0.7);
}

/* active-------------------------- */
.state-pseudo-class-list .first-link:active {
   color: #b70707;
   background-color: #f6f6f6;
}

.state-pseudo-class-list .second-link:active {
   background: linear-gradient(95deg, rgba(251, 239, 32, 1) 25%, rgba(251, 39, 31, 1) 61%) center/
      auto 100% no-repeat;
}

.state-pseudo-class-list .third-link:active {
   box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, 0.9);
}

/* visited-------------------------- */

.state-pseudo-class-list .first-link:visited {
   background-color: #781111;
   color: #f6f6f6;
}

.state-pseudo-class-list .first-link:visited:active {
   color: #b70707;
   background-color: #f6f6f6;
}

.state-pseudo-class-list .second-link:visited {
   color: rgb(52, 108, 37);
}

.state-pseudo-class-list .second-link:visited:active {
   background: linear-gradient(95deg, rgba(251, 239, 32, 1) 25%, rgba(251, 39, 31, 1) 61%) center/
      auto 100% no-repeat;
}

.state-pseudo-class-list .third-link:visited {
   color: rgb(133, 71, 71);
}

.state-pseudo-class-list .third-link:visited:active {
   box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, 0.9);
}

/* target------------------------- */
.state-pseudo-class-list .fourth-text:target {
   visibility: visible;
   opacity: 1;
}

/* ======================================================== */

.position-pseudo-class {
   margin-bottom: 80px;
}
.position-pseudo-class .text {
   font-size: 20px;
   color: rgb(221, 221, 6);
   text-align: center;
   margin-bottom: 30px;
}

.reset-link-wrapper {
   text-align: center;
   margin-bottom: 30px;
}

.reset-link {
   display: inline-block;
   font-size: 20px;
   color: grey;
   border-bottom: 1px solid grey;
}

.position-pseudo-class-list-links {
   margin-bottom: 30px;
}

.position-pseudo-class-list-links li {
   display: inline-block;
   vertical-align: top;
   text-align: center;
}

.position-pseudo-class-list-links li:nth-child(-n + 6) {
   margin-bottom: 30px;
}

.position-pseudo-class-list-links a {
   display: inline-block;
   padding: 10px;
   border: 1px solid red;
   margin-bottom: 20px;
}

.example-list {
   transform: scale(0);
   transition: transform 500ms;
}

.example-list * {
   display: inline-block;
   padding: 10px;
   color: #f6f6f6;
   background-color: #b70707;
}

.example-first-child:target,
.example-first-of-type:target,
.example-last-child:target,
.example-last-of-type:target,
.example-nth-child-odd:target,
.example-nth-child-even:target,
.example-nth-child-num:target,
.example-nth-child-algorithm:target,
.example-not:target {
   transform: scale(1);
}

.example-first-child:target > *:first-child,
.example-first-of-type:target > div:first-of-type,
.example-last-child:target > *:last-child,
.example-last-of-type:target > span:last-of-type,
.example-nth-child-odd:target :nth-child(odd),
.example-nth-child-even:target :nth-child(even),
.example-nth-child-num:target :nth-child(4),
.example-nth-child-algorithm:target :nth-child(3n + 3),
.example-not:target :not(:nth-child(3n + 3)) {
   color: #b70707;
   background-color: #f6f6f6;
}
