/* посилання сформоване за допомогою плагіну Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:regular,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black:regular&display=swap');

/* підключення файлів зі шрифтами */
@import url('fonts.css');

/* скидання стилів */
@import url('reset.css');

body {
   background-color: #262626;
   font-family: 'Archivo Black', sans-serif;
   color: #e4e4e4;
   font-size: 16px;
   word-spacing: 1px;
   text-align: justify;
}

.nav a {
   font-weight: 600;
   font-size: 20px;
}

a {
   color: #6b77e5;
}

.text-wrapper a {
   text-decoration: underline;
}

h1,
h2,
h3 {
   text-align: center;
}

h1 {
   font-size: 48px;
}

h2 {
   font-size: 30px;
}

h3 {
   font-size: 24px;
}

.band-name {
   font-weight: 600;
   letter-spacing: 1px;
   text-transform: uppercase;
}

/* ========================================================= */
.reasons-section,
.project-information-section {
   background-color: #ffffff;
}
.reasons-section .text-wrapper,
.project-information-section .text-wrapper {
   font-family: 'Inter', sans-serif;
   font-size: 18px;
   line-height: 1.46;
   color: #7d7d7d;
}

.reasons-section-title,
.reasons-section-subtitle,
.project-information-section-title {
   font-family: 'Poppins', sans-serif;
   text-transform: capitalize;
   line-height: 1.27;
   text-align: left;
}

.reasons-section-title,
.reasons-section-subtitle {
   font-weight: 600;
}

.reasons-section-title {
   color: #37393f;
}

.reasons-section-subtitle {
   font-size: 20px;
   color: #6b77e5;
}

.project-information-section-title {
   font-weight: 700;
   font-size: 40px;
   color: #37393f;
}

.project-information-section ol,
.project-information-section ul {
   padding-left: 50px;
}

.project-information-section ul > li {
   list-style-type: disc;
}

.project-information-section ol > li {
   list-style: decimal-leading-zero;
   font-weight: 500;
}
