@import url('https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap');

@import url('reset.css');

body {
   font-family: 'Poppins', sans-serif;
   color: #303030;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
}

[class*='__container'] {
   max-width: 1000px;
   padding: 0 15px;
   margin: 0 auto;
}

.header,
.footer {
   padding: 30px 0;
}

.nav {
   text-align: center;
   font-size: 0;
}

.nav__item {
   display: inline-block;
}

.nav__item:not(:last-child) {
   margin-right: 50px;
}

.nav__link {
   font-size: 20px;
   font-weight: 500;
   padding: 15px;

   transition: all 250ms;
}

.nav__link:hover {
   color: orangered;
}

.nav__link:focus {
   color: orangered;
   outline: 3px solid orangered;
}

.hero {
   background: orangered url('../img/bg.webp') center / cover no-repeat;
   padding: 150px 0;
}

.hero__title {
   color: #f2f2f2;
   font-size: 24px;
   width: max-content;
   transform: translateX(45%);
}

.practice,
.car {
   padding: 50px;
}

.practice__container > *:not(:last-child) {
   margin-bottom: 30px;
}

.accent {
   color: rgb(236, 99, 8);
   font-size: 24px;
   text-align: center;
   line-height: 1.5;
}

.practice__list {
   font-size: 0;
}

.practice__item {
   vertical-align: top;
   display: inline-block;
   font-size: 14px;
   width: 300px;
   height: 300px;
   background-color: rgba(0, 0, 0, 0.8);
}

.practice__item:not(:nth-child(3n)) {
   margin-right: 25px;
}

.practice__item:nth-child(3n + 1) {
   margin-bottom: 20px;
}

.practice__item:last-child {
   margin-bottom: 0;
}

.block {
   width: 100%;
   height: 100%;
   background: orangered url('../img/bg.webp') center / cover no-repeat;
   box-shadow: inset 0px 0px 100px 76px rgba(0, 0, 0, 0.8);

   transition: all 500ms;
}

.block span,
.flip span {
   display: inline-block;
   padding: 0 15px;
   width: 100%;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #f2f2f2;
   line-height: 1.5;
}

.practice__item--translate-pixel:hover .practice__block {
   transform: translate(20px, 20px);
}

.practice__item--translate-percentage:hover .practice__block {
   transform: translate(25%, 25%);
}

.practice__item--translate-percentage-minus:hover .practice__block {
   transform: translate(-10%, -10%);
}

.practice__item--translate-x:hover .practice__block {
   transform: translateX(-15%);
}

.practice__item--translate-y:hover .practice__block {
   transform: translateY(-15%);
}

.practice__item--scale-default:hover .practice__block {
   transform: scale(1);
}

.practice__item--scale-less:hover .practice__block {
   transform: scale(0.5);
}

.practice__item--scale-more:hover .practice__block {
   transform: scale(1.2);
}

.practice__item--scale-two-value:hover .practice__block {
   transform: scale(0.9, 1.3);
}

.practice__item--scale-x:hover .practice__block {
   transform: scaleX(1.2);
}

.practice__item--scale-y:hover .practice__block {
   transform: scaleY(0.4);
}

.practice__item--scale-mirror:hover .practice__block {
   transform: scale(-1, 1);
}

.practice__item--rotate-plus:hover .practice__block {
   transform: rotate(10deg);
}

.practice__item--rotate-minus:hover .practice__block {
   transform: rotate(-10deg);
}

.practice__item--rotate-x:hover .practice__block {
   transform: rotateX(-40deg);
}

.practice__item--rotate-y:hover .practice__block {
   transform: rotateY(-40deg);
}

.practice__item--skew-plus:hover .practice__block {
   transform: skew(40deg);
}

.practice__item--skew-minus:hover .practice__block {
   transform: skew(-10deg);
}
.practice__item--skew-plus-minus:hover .practice__block {
   transform: skew(20deg, -20deg);
}

.practice__item--skew-x:hover .practice__block {
   transform: skewX(40deg);
}

.practice__item--skew-y:hover .practice__block {
   transform: skewY(10deg);
}

.practice__item--matrix:hover .practice__block {
   position: relative;
   z-index: 1;
   transform: matrix(1.2, 0.5, 0.5, -1, 70, -50);
}

.practice__item--combine:hover .practice__block {
   position: relative;
   z-index: 1;
   transform: translate(70px, -50px) skew(-22deg, 20deg) scale(1.2, -1);
}

.practice__item--transform-origin-default:hover .practice__block {
   transform-origin: center;
   transform: scale(0.5);
}

.practice__item--transform-origin-top-left:hover .practice__block {
   transform-origin: top left;
   transform: scale(0.5);
}

.practice__item--transform-origin-percentage:hover .practice__block {
   transform-origin: 70% 80%;
   transform: scale(0.5);
}

.practice__item--transform-origin-rotate:hover .practice__block {
   transform-origin: right bottom;
   transform: rotate(30deg);
}

.practice__item--perspective-less-value {
   perspective: 20px;
   perspective-origin: center;
}

.practice__item--perspective-more-value,
.practice__item--perspective-more-value-rotate3d-flat,
.practice__item--perspective-more-value-rotate3d-preserve-3d {
   perspective: 800px;
   perspective-origin: center;

   transform-style: flat;
}

.practice__item--perspective-more-value-rotate3d-preserve-3d {
   perspective-origin: -150%;
   transform-style: preserve-3d;
}

.practice__item--perspective-less-value:hover .practice__block,
.practice__item--perspective-more-value:hover .practice__block {
   transform: rotate3d(1, 1, 1, 20deg);
}

.practice__item--perspective-more-value-rotate3d-flat:hover .practice__block {
   transform: rotateX(40deg);
}

.practice__item--perspective-more-value-rotate3d-preserve-3d:hover .practice__block {
   transform: rotateY(40deg);
}

.practice__item--backface-visibility-visible {
   perspective: 800px;
   transform-style: preserve-3d;
}

.practice__item--backface-visibility-visible:hover .practice__block {
   backface-visibility: visible;
   transform: rotateY(180deg);
}

.practice__item--backface-visibility-hidden:hover .practice__block {
   backface-visibility: hidden;
   transform: rotateY(180deg);
}

.practice__item--flip {
   background-color: transparent;
}

.flip {
   perspective: 1000px;
}

.flip__body {
   position: relative;
   width: 300px;
   height: 300px;
   transform-style: preserve-3d;
}

.flip__front,
.flip__back {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   transition: all 500ms;
}

.flip__front {
   background-color: rgb(255, 72, 0);
   transform: rotateY(0deg);

   backface-visibility: hidden;
}

.flip__back {
   background-color: rgb(255, 0, 0);
   transform: rotateY(180deg);

   transition: all 500ms;
}

.practice__item--flip:hover .flip__back {
   transform: rotateY(0deg);

   backface-visibility: hidden;
}

.practice__item--flip:hover .flip__front {
   transform: rotateY(-180deg);
}

/* ============================================================== */

.car__wrapper {
   width: 980px;
   position: relative;
   padding: 120px 0;
}

.car__up-part-body {
   position: absolute;
   top: 12%;
   left: 20%;
   border-bottom: 113px solid crimson;
   border-left: 230px solid transparent;
   border-right: 160px solid transparent;
   height: 0;
   width: 760px;
}

.car__up-part-body::before {
   content: '';
   position: absolute;
   top: -13px;
   width: 370px;
   height: 30px;
   border-radius: 50%;
   background-color: crimson;
}

.car__window-wrapper {
   z-index: 2;
   position: absolute;
   top: 0px;
   left: -43%;
   border-radius: 38% 24% 100% 3% / 100% 74% 100% 100%;
   overflow: hidden;
   padding-top: 15px;
}

.car__window {
   position: relative;
   border-bottom: 87px solid #2f2f2f;
   border-left: 171px solid transparent;
   border-right: 115px solid transparent;
   height: 0;
   width: 620px;
}

.car__window::before {
   content: '';
   position: absolute;
   top: -13px;
   width: 335px;
   height: 30px;
   border-radius: 50%;
   background-color: #2f2f2f;
}

.car__door-line {
   z-index: 2;
   position: absolute;
   background-color: #1b1b1b;
}

.car__door-line--first {
   top: 38px;
   left: -64px;
   width: 1px;
   height: 71px;
   transform: rotate(34deg);
}

.car__door-line--second {
   top: 3px;
   left: 105px;
   width: 1px;
   height: 100px;
}

.car__door-line-third {
   top: -7px;
   right: 86px;
   width: 1px;
   height: 113px;
   transform: rotate(-36deg);
}

.car__lower-part-body {
   position: relative;
   width: 980px;
   height: 245px;
   border-radius: 80% 4% 28% 10% / 58% 10% 33% 13%;
   background-color: crimson;
}

.car__headlight-wrapper {
   position: absolute;
   top: 91px;
   left: 12px;
   perspective: 200px;
   perspective-origin: center;
   transform-style: preserve-3d;
}

.car__headlight {
   transform: rotate3d(64, -47, -79, 26deg);
   width: 100px;
   height: 27px;
   border-radius: 100% 70% 47% 54% / 100% 5% 19% 53%;
   background: rgb(128, 128, 128);
   background: radial-gradient(circle, rgba(255, 255, 255, 1) 65%, rgba(182, 182, 182, 1) 100%);
}

.car__headlight::after {
   content: '';
   position: absolute;
   top: 0px;
   left: 100%;
   width: 45px;
   height: 25px;
   transform: scaleX(1.2);
   border-radius: 0% 100% 100% 0% / 30% 23% 77% 70%;
   background: rgb(211, 56, 0);
   background: linear-gradient(180deg, rgb(241 70 7) 13%, rgb(121, 37, 7) 38%, rgb(241 70 7) 83%);
}

.car__fog-light-wrapper {
   position: absolute;
   top: 74%;
   left: 1%;
   perspective: 50px;
   perspective-origin: center;
   transform-style: flat;
   padding-top: 3px;
   width: 34px;
   height: 38px;
   border-radius: 100% 10% 10% 100% / 26% 10% 10% 34%;
   background-color: #1b1b1b;
}

.car__fog-light {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   transform: rotateY(72deg);
}

.car__fog-decor {
   position: absolute;
   top: 2px;
   left: 15px;
   width: 10px;
   height: 33px;
   border-top-right-radius: 50%;
   border-bottom-right-radius: 50%;
   background-color: rgb(156, 14, 43);
}

.car__door {
   z-index: 1;
   position: absolute;
}

.car__door--front {
   bottom: 5%;
   left: 32%;
   width: 220px;
   height: 290px;
   border-left: 2px solid #161616;
   border-bottom: 2px solid #161616;
   border-right: 2px solid #161616;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 204px;
}

.car__door--back {
   transform: skew(-14deg);
   bottom: 12px;
   left: 53%;
   width: 200px;
   height: 205px;
   border-bottom: 2px solid #161616;
   border-right: 2px solid #161616;
   border-radius: 0% 10% 71% 100% / 69% 11% 140% 0%;
}

.car__complete-with-wheel {
   position: relative;
   top: 120px;
}

.car__complete-with-wheel--front {
   left: 7%;
}

.car__complete-with-wheel--back {
   right: -72%;
}

.car__fender-wrapper {
   position: absolute;
   left: -17px;
   top: -22px;
   overflow: hidden;
   width: 210px;
   height: 210px;
}

.car__fender {
   width: 210px;
   height: 210px;
   border-radius: 50% 50% 40% 34%/ 50% 50% 40% 34%;
   background: linear-gradient(0deg, rgb(139, 0, 0, 0) 42%, rgba(131, 11, 35, 0.2) 90%);
}

.car__niche-for-wheel-wrapper {
   position: absolute;
   left: -7px;
   top: -1px;
   overflow: hidden;
   width: 190px;
   height: 126px;
   border-radius: 0% 0% 0% 13% / 0% 0% 2% 3%;
}

.car__niche-for-wheel-wrapper--back {
   border-radius: 0% 0% 100% 0% / 0% 0% 14% 0%;
}

.car__niche-for-wheel {
   width: 190px;
   height: 180px;
   background-color: rgb(20, 19, 19);
   border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
}

.car__wheel {
   z-index: 2;
   position: absolute;
   top: 8px;
   width: 174px;
   height: 174px;
   border-radius: 50%;
   background-color: #1b1b1b;
}

.car__wheel:before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 176px;
   height: 176px;
   border-radius: 50%;
   background-color: transparent;
   border: 3px dashed #1b1b1b;
}

.car__wheel--front {
   transform: rotate(20deg);
}

.car__wheel--back {
   transform: rotate(-20deg);
}

.car__disk {
   position: absolute;
   top: 50%;
   left: 50%;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   width: 118px;
   height: 118px;
   background: rgb(222, 222, 223);
   background: radial-gradient(
      circle,
      rgb(44, 44, 44) 50%,
      rgba(222, 222, 223, 1) 56%,
      rgb(44, 44, 44) 60%,
      rgba(222, 222, 223, 1) 64%
   );
}

.disk__fragment {
   z-index: 2;
   position: absolute;
   width: 20px;
   height: 50px;
   background-color: rgba(222, 222, 223, 1);
   border-radius: 12px 12px 0 0;
}

.disk__fragment--first {
   top: 3%;
   left: 50%;
   transform: translateX(-50%);
}
.disk__fragment--second {
   top: 50%;
   right: 15%;
   transform: translateY(-50%) rotate(90deg);
}

.disk__fragment--third {
   bottom: -18%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-180deg);
}
.disk__fragment--fourth {
   top: 50%;
   left: 16%;
   transform: translateY(-50%) rotate(-90deg);
}

.disk__fragment::before {
   z-index: 2;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   content: '';
   width: 3px;
   height: 20px;
   border-radius: 50%;
   background-color: #303030;
}

.disk__fragment::after {
   z-index: 3;
   position: absolute;
   top: 6px;
   left: 50%;
   transform: translateX(-50%);
   content: '';
   width: 8px;
   height: 25px;
   background-color: #303030;
   box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.7);
   border-radius: 5px 5px 5px 5px;
}

.disk__center {
   z-index: 3;
   position: absolute;
   top: 50%;
   left: 50%;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   width: 45px;
   height: 45px;
   background: rgb(246, 242, 242);
   background: radial-gradient(circle, #dc143c 57%, rgba(222, 222, 223, 1) 65%);
}
