.header {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  a {
    color: rgb(244, 240, 240);
    text-decoration: none;
  }
}

// .header {
//   &__decor {
//   }
//   &__text {
//   }
//   &__wrapper {
//   }
// }

.red {
  color: red;
}

.red {
  font-size: 46px;
}
