/* ===========================Causten=============================== */
@font-face {
   font-family: 'Causten';
   src: url('../fonts/causten/causten-regular.woff2') format('woff2'),
      url('../fonts/causten/causten-regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Causten';
   src: url('../fonts/causten/causten-medium.woff2') format('woff2'),
      url('../fonts/causten/causten-medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Causten';
   src: url('../fonts/causten/causten-semi-bold.woff2') format('woff2'),
      url('../fonts/causten/causten-semi-bold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Causten';
   src: url('../fonts/causten/causten-bold.woff2') format('woff2'),
      url('../fonts/causten/causten-bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* =========================Core Sans C============================== */
@font-face {
   font-family: 'Core Sans C';
   src: url('../fonts/core-sans-c/core-sans-c-bold.woff2') format('woff2'),
      url('../fonts/core-sans-c/core-sans-c-bold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

/* =========================Kollektif============================== */
@font-face {
   font-family: 'Kollektif';
   src: url('../fonts/kollektif/kollektif.woff2') format('woff2'),
      url('../fonts/kollektif/kollektif.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Kollektif';
   src: url('../fonts/kollektif/kollektif-bold.woff2') format('woff2'),
      url('../fonts/kollektif/kollektif-bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* =========================Lena============================== */
@font-face {
   font-family: 'Lena';
   src: url('../fonts/lena/lena.woff2') format('woff2'),
      url('../fonts/lena/lena.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
