@import url('https://fonts.googleapis.com/css?family=Inter:regular,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ephesis:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap');
@import url('fonts.css');
@import url('reset.css');

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.body {
   background-color: #ffffff;
   font-family: 'Causten', sant-serif;
   color: #000000;
   font-size: 20px;
}

.wrapper > *,
.page > * {
   margin-bottom: 30px;
}

@media (min-width: 500px) {
   .wrapper > *,
   .page > * {
      --width: 100%;
      margin-bottom: calc(var(--width) / 17);
   }
}

@media (min-width: 1203px) {
   .wrapper > *,
   .page > * {
      margin-bottom: 70px;
   }
}

[class*='__container'] {
   max-width: 1203px;
   padding: 0 15px;
   margin: 0 auto;
}

.header,
.footer {
   min-height: 60px;
   padding: 10px 0;
}

.name {
   font-family: 'Ephesis', cursive;
   font-size: 24px;
   line-height: 2;
   text-align: center;
}

.first-model__container {
   position: relative;
}

.first-model__container > * {
   --width: 100%;
   margin-bottom: calc(var(--width) / 24);
}

@media (min-width: 1203px) {
   .first-model__container > * {
      margin-bottom: 50px;
   }
}

.first-model__decor {
   display: none;
   position: absolute;
   width: 341px;
   height: 419px;
   margin-bottom: 0;
   background: url('../img/popular-product/decor-bg.webp');
}

@media (min-width: 500px) and (max-width: 899.98px) {
   .first-model__decor {
      display: block;
      right: -5%;
      bottom: -5%;
   }
}

@media (min-width: 1203px) {
   .first-model__decor {
      display: block;
      right: -26%;
      bottom: -13%;
   }
}

.title {
   font-family: 'DM Serif Text', serif;
   font-weight: 400;
   text-transform: capitalize;
   text-align: center;
}

.title-section {
   font-size: 40px;
   --width: 100%;
   margin-bottom: calc(var(--width) / 57);
}

@media (min-width: 768px) {
   .title-section {
      font-size: 50px;
   }
}

@media (min-width: 1203px) {
   .title-section {
      font-size: 58px;
      margin-bottom: 21px;
   }
}

.first-model__title {
   text-align: start;
}

.first-model__text {
   font-family: 'Inter', sans-serif;
   line-height: 1.8;
   color: #606060;
}

.first-model__list {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   row-gap: 24px;
   margin-left: -24px;
   margin-right: -24px;
}

.first-model__column {
   padding: 0 24px;
   flex: 1 1 100%;
}

@media (min-width: 500px) {
   .first-model__column {
      flex: 0 1 50%;
   }
}

@media (min-width: 900px) {
   .first-model__column {
      flex: 0 1 33.3333%;
   }
}

.first-model__item > * {
   margin-bottom: 16px;
}

.first-model__img {
   width: 100%;
   height: 100%;
   aspect-ratio: 357 / 240;
   object-fit: cover;
}

.first-model__title--item {
   font-size: 24px;
   line-height: 1.21;
}

.first-model__text--item {
   font-size: 16px;
   line-height: 1.6;
   margin-bottom: 8px;
}

.first-model__link {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

.first-model__link > * {
   flex: 0 0 auto;
}

.first-model__text-link {
   position: relative;
   font-weight: 800;
   font-size: 22px;
   line-height: 1.5;
   color: #f55529;
}

@media (min-width: 768px) {
   .first-model__text-link {
      font-size: 20px;
   }
}

@media (min-width: 1203px) {
   .first-model__text-link {
      font-size: 16px;
   }
}

.first-model__text-link::after {
   content: '';
   background-color: #f55529;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   transform: scaleX(0);

   transition: all 300ms linear;
}

.first-model__link img {
   width: 33px;
   height: 33px;
   object-fit: cover;
   transition: all 300ms;
}

@media (min-width: 768px) {
   .first-model__link img {
      width: 30px;
      height: 30px;
   }
}

@media (min-width: 1203px) {
   .first-model__link img {
      width: 24px;
      height: 24px;
   }
}

@media (any-hover: hover) {
   .first-model__link:hover .first-model__text-link::after {
      transform: scaleX(1);
   }
   .first-model__link:hover img {
      transform: scale(1.1);
   }
}

.first-model__link:focus {
   outline: 2px solid #f55529;
}

.second-model,
.third-model {
   font-family: 'Cormorant Infant', serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.4;
}

.third-model {
   padding: 30px 0;
}

.second-model__container > *,
.third-model__container > * {
   margin-bottom: 30px;
}

@media (min-width: 600px) {
   .second-model__container > *,
   .third-model__container > * {
      --width: 100%;
      margin-bottom: calc(var(--width) / 19);
   }
}

.second-model__title {
   text-align: center;
   margin-bottom: 27px;
}

.second-model__text,
.third-model__text {
   text-align: center;
   color: #818181;
}

.second-model__list,
.third-model__list {
   display: flex;
   flex-wrap: wrap;
   margin-left: -15px;
   margin-right: -15px;
   row-gap: 30px;
}

.producs-list__column {
   padding: 0 15px;
   flex: 1 1 100%;
}

@media (min-width: 500px) {
   .producs-list__column {
      flex: 0 1 50%;
   }
}

@media (min-width: 900px) {
   .producs-list__column {
      flex: 0 1 25%;
   }
}

.producs-list__item > * {
   margin-bottom: 17px;
}

.producs-list__img {
   width: 100%;
   height: 100%;
   aspect-ratio: 270 / 270;
   object-fit: cover;

   transition: all 300ms linear;
}

@media (any-hover: hover) {
   .producs-list__img-link:hover .producs-list__img {
      transform: scale(1.07);
   }
}

.producs-list__title {
   margin-bottom: 4px;
}

.producs-list__title-link {
   transition: all 300ms linear;
}

@media (any-hover: hover) {
   .producs-list__title-link:hover {
      color: #ff7a49;
   }
}

.producs-list__img-link:focus,
.producs-list__title-link:focus {
   outline: 2px solid rgba(0, 0, 0, 0.3);
}

.second-model__more-link {
   display: block;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 500;
   font-size: 16px;
   width: max-content;
   padding: 12px 42px;
   margin-left: auto;
   margin-right: auto;
   color: #ffffff;
   background-color: #ff7a49;
   border: 1px solid #ff7a49;

   transition: all 300ms linear;
}

@media (any-hover: hover) {
   .second-model__more-link:hover {
      color: #ff7a49;
      background-color: #ffffff;
   }
}

.third-model {
   background-color: #04011f;
   color: #ffffff;
}

.producs-list__img-link--b-radius {
   overflow: hidden;
   border-radius: 5px;
}

/* ======================= margin-bottom: 0; ===================== */
.wrapper > *:last-child,
.page > *:last-child,
.first-model__container > *:last-child,
.first-model__item > *:last-child,
.title-section:last-child,
.second-model__container > *:last-child,
.producs-list__item > *:last-child,
.third-model__container > *:last-child {
   margin-bottom: 0;
}
