@import url('reset.css');

* {
  color: #ffffff;
}

/* ===============HEADER/FOOTER====================== */
.page-header,
.page-footer {
  background-color: #000000;
}

.nav-list * {
  color: rgb(244, 209, 10);
}

/* цей параметр не спрацює його перебивають стилі тегу <style> */
[href='#up'] {
  color: rgb(244, 96, 10);
}

/* ========================MAIN====================== */
/* цей параметр не переб'є правило нижче через наявність IMPORTANT  */
.accent {
  color: red !important;
}

main {
  background-color: #262525;
}

mark {
  color: #262525;
}

mark ~ mark {
  color: #594f4f;
}

#main-title {
  color: rgb(244, 209, 10);
}
/* .accent -  цей параметр не буде застосовано оскільки вижче використвується IMPORTANT  */
.accent,
.number {
  color: rgb(211, 71, 16);
}

[lang='en'],
[lang='fr'] {
  color: rgb(213, 127, 93);
}

h2 {
  color: rgb(244, 96, 10);
}

div.image-wrapper {
  background-color: #303030;
}

.text-wrapper p {
  color: rgb(223, 204, 95);
}

.text-wrapper p + p {
  color: rgb(234, 130, 70);
}

.classifications-container > h2 {
  color: rgb(158, 244, 10);
}

/* пофарбовано текст після певного списку */
.rank + p {
  color: rgb(167, 161, 112);
}

/* пофарбовано всі пункти */
.rank li {
  color: rgb(215, 91, 82);
}

/* пофарбовано перший пункт */
.rank > li {
  color: rgb(244, 209, 10);
}

/* пофарбовано  всі пункти після першого */
.rank > li ~ li {
  color: #eb6c22;
}

li h3 {
  color: rgb(244, 10, 221);
}

.useful-links-container a {
  color: rgb(223, 204, 95);
}
