/* 
   1. body - 2500ms
   2. wheels - 3.5s
   3. Window - 2s
   4. Door - 3s
   5.other details - 2.5s
   6.light - 2s
   7.other details - 3s

*/

/*
   neon 0.5s 
*/
@keyframes opacity {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

/* 
.lower-path__front 
*/

@keyframes lower-path-front-shadow {
   0% {
      box-shadow: 9px -6px 10px -10px inset rgba(0, 0, 0, 0);
   }
   100% {
      box-shadow: 9px -6px 10px -10px inset rgb(0, 0, 0);
   }
}

/*
   .upper-path .5s
*/
@keyframes transform-upper-path {
   0% {
      transform: translateY(100%) scaleY(0);
   }
   100% {
      transform: translateY(0%) scaleY(1);
   }
}

/* 
   upper-path__windshield  500ms
*/

@keyframes transform-windshield {
   0% {
      transform: skewX(-61deg) translateY(50%) scaleY(0);
   }
   100% {
      transform: skewX(-61deg) translateY(0%) scaleY(1);
   }
}

/* 
   decor-rear-window  500ms
*/

@keyframes shadow-rear-window {
   0% {
      box-shadow: 0px 1px 0px 0px inset #00000000;
   }
   100% {
      box-shadow: 141px 0px 1px 0px inset #2a2a2a;
   }
}

/* 
   decor-rear-window__block  500ms
*/

@keyframes transform-rear-window-block {
   0% {
      background-color: rgba(149, 149, 149, 0);
      border-bottom: 1px solid rgba(18, 18, 18, 0);
      box-shadow: 0px 1px 3px 0px inset rgba(69, 69, 69, 0);
      transform: rotate(360deg);
   }
   25% {
      background-color: rgba(149, 149, 149, 0.5);
   }
   50% {
      border-bottom: 1px solid #121212;
      box-shadow: 0px 1px 3px 0px inset #454545;
   }
   100% {
      background-color: rgba(27, 26, 26, 1);
      transform: rotate(349deg);
   }
}

/* 
   decor__shadow-center::before
*/
@keyframes width-shadow-line {
   0% {
      transform: rotate(0deg);
      width: 0px;
   }
   100% {
      transform: rotate(4deg);
      width: 228px;
   }
}

/* 
   picture-center:after - from 
*/
@keyframes shadow {
   0% {
      box-shadow: -649px 0px 91px -80px inset rgb(252, 168, 2);
   }
   100% {
      box-shadow: 0px 0px 91px -80px inset rgb(252, 168, 2);
   }
}

/* 
   lower-path__exhaust  500ms
*/
@keyframes position-exhaust {
   0% {
      right: 50px;
   }
   100% {
      right: 23px;
   }
}

/* 
   lower-path  500ms
*/
@keyframes scale-y {
   0% {
      transform: scaleY(0);
   }
   100% {
      transform: scaleY(1);
   }
}

/* 
   .lower-path__center-back::after 300ms

*/
@keyframes top-px {
   0% {
      top: 0;
   }
   100% {
      top: -5px;
   }
}

/*
   .lower-path__front::before 0.5s   
*/
@keyframes lower-path-front-before-position {
   0% {
      left: 0;
      background-color: rgba(252, 169, 2, 0);
      box-shadow: 9px 1px 10px -10px inset rgba(0, 0, 0, 0);
   }
   100% {
      left: -14px;
      box-shadow: 9px 1px 10px -10px inset #000;
      background-color: rgb(252, 168, 2);
   }
}

/*
   .lower-path__front::after 0.5s   
*/
@keyframes lower-path-front-after-position {
   0% {
      left: 0;
      background-color: rgba(252, 169, 2, 0);
      box-shadow: 8px -6px 11px -10px inset rgba(0, 0, 0, 0);
   }
   100% {
      left: -14px;
      box-shadow: 8px -6px 11px -10px inset #000;
      background-color: rgb(252, 168, 2);
   }
}

/*
   hood 0.5s  
*/
@keyframes top-hood {
   0% {
      top: 5px;
      transform: rotate(0deg);
   }
   100% {
      top: -5px;
      transform: rotate(3deg);
   }
}

/*
  decor__outline 0.5s  
*/
@keyframes width-height-decor-outline {
   0% {
      width: 0px;
      height: 0px;
   }
   100% {
      width: 39px;
      height: 47px;
   }
}

/*
  decor__outline:before 0.5s  
*/
@keyframes width-decor-line {
   0% {
      width: 0px;
   }
   100% {
      width: 20px;
   }
}

/*
  .decor__shadow-start-center .5s 
*/
@keyframes width-shadow-start-center {
   0% {
      width: 0px;
   }
   100% {
      width: 450px;
   }
}

/*
   headlight 0.5s  
*/
@keyframes draw-headlight {
   0% {
      top: 59px;
      height: 0px;
      border-right: 0px solid rgb(34, 34, 34);
   }
   5% {
      border-right: 2px solid rgb(34, 34, 34);
   }
   100% {
      top: 24px;
      height: 35px;
      border-right: 2px solid rgb(34, 34, 34);
   }
}

/* 
   decor__bumper-path - 0.5s
*/
@keyframes position-bumper {
   0% {
      left: 4px;
      width: 0px;
   }
   100% {
      left: 34px;
      width: 10px;
   }
}

/* 
   .black-triangle - 0.5s
*/
@keyframes appearance-black-triangle {
   0% {
      width: 0px;
      height: 0px;
   }
   100% {
      width: 7px;
      height: 20px;
   }
}

/* 
   .silver-triangle - 0.5s
*/
@keyframes appearance-scale {
   0% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1);
   }
}

/*
   .small-lamp- 0.5s
*/
@keyframes appearance-small-lamp {
   0% {
      transform: scale(0.8);
      box-shadow: 0px 0px 2px 1px inset #303030, 0px 0px 0px 1px rgba(255, 255, 255, 0);
   }
   100% {
      transform: scale(1);
      box-shadow: 0px 0px 2px 1px inset #303030, 0px 0px 0px 1px #303030;
   }
}

/* 
   wheels__tyre   500ms
*/
@keyframes translate-x-half-scale {
   0% {
      transform: translateX(-50%) scale(0);
   }
   100% {
      transform: translateX(-50%) scale(1);
   }
}

/* 
   wheels__circle   500ms
*/
@keyframes transform-circle {
   0% {
      transform: translate(-50%, -50%) scale(0);
      box-shadow: 0px 0px 4px 0px inset rgb(252, 168, 2);
   }
   60% {
      transform: translate(-50%, -50%) scale(1);
      box-shadow: 0px 0px 4px 1px inset rgb(252, 168, 2);
   }
   100% {
      box-shadow: 0px 0px 4px 7px inset rgb(252, 168, 2);
   }
}

/* 
   wheels__small-circle   500ms
*/
@keyframes small-circle-transform {
   0% {
      transform: translate(-50%, -50%) scale(0);
      box-shadow: 0px 0px 0px 0px #000;
   }
   100% {
      transform: translate(-50%, -50%) scale(1);
      box-shadow: 0px 0px 3px 1px #000;
   }
}

/* 
   line  500ms
   якщо вказати transform на 50%,
   але не вказати transform на 100% анімація краща
*/
@keyframes transform-line {
   0% {
      height: 0;
      transform: translate(-50%, -50%) rotate(0);
   }

   50% {
      height: 72px;
      transform: translate(-50%, -50%) rotate(0);
   }

   100% {
      /* transform: translate(-50%, -50%) rotate(90deg); */
   }
}

/* 
   .line:before,
   .line:after
*/
@keyframes line-before-after-box-shadow {
   0% {
      box-shadow: 0px 2px 0px 0px #000000;
   }
   100% {
      box-shadow: 0px 2px 3px 1px #000;
   }
}

/* 
.wheels__wrapper::after 500ms
*/
@keyframes wheels-wrapper-height-shadow {
   0% {
      height: 0px;
      box-shadow: 0px 6px 12px -18px inset #000, 0px 0px 0px 0px inset rgb(252, 168, 2);
   }
   100% {
      height: 75px;
      box-shadow: 0px 6px 12px -8px inset #000, 0px 2px 0px 1px inset rgb(252, 168, 2);
   }
}

/*
   .wheels__bg 500ms
   
*/
@keyframes translate-half-scale {
   0% {
      transform: translate(-50%, 100%) scaleY(0);
   }
   50% {
      transform: translate(-50%, 50%) scaleY(0);
   }
   100% {
      transform: translate(-50%, 0%) scaleY(1);
   }
}

/*
   .car__door 500ms
   
*/
@keyframes width-height-door {
   0% {
      width: 0px;
      height: 0px;
   }
   50% {
      width: 185px;
      height: 1px;
   }
   100% {
      height: 110px;
   }
}

/*
   .car__side-window  500ms
   
*/
@keyframes transform-side-window {
   0% {
      top: -4px;
      left: 298px;
      transform: rotate(-8deg);
      opacity: 0;
   }
   5% {
      opacity: 1;
   }

   100% {
      top: 10px;
      left: 300px;
      transform: rotate(0deg);
   }
}

/*
   car__side-mirror::after 500ms
   
*/
@keyframes shadow-bg-scale-x-mirror {
   0% {
      box-shadow: 1px 0px 2px 0px inset rgba(243, 243, 243, 0),
         -4px 2px 0px -1px rgba(38, 28, 28, 0);
      background-color: rgba(252, 169, 2, 0);
      transform: scaleX(0);
   }
   100% {
      box-shadow: 1px 0px 2px 0px inset rgb(243 243 243 / 45%),
         -4px 2px 0px -1px rgb(38 28 28 / 45%);
      background-color: rgb(252, 168, 2);
      transform: scaleX(2);
   }
}

/*
   .car__handle  500ms
   
*/
@keyframes transform-scale-x-door {
   0% {
      transform: scaleX(0);
   }

   100% {
      transform: scaleX(3);
   }
}

/*
   .indicator__border:after 1500ms
   .indicator__bg:after 1500ms
*/
@keyframes translate-x {
   0% {
      transform: translateX(-101%);
   }
   100% {
      transform: translateX(0%);
   }
}

/* 
   .indicator__item::after 1500ms

*/
@keyframes width {
   0% {
      width: 0px;
   }
   100% {
      width: 32px;
   }
}
