/* Підключення шрифтів */
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ephesis:regular&display=swap');

/* Скидаємо стилі */
@import url('reset.css');

/* Основні стилі */
@import url('wrapper.css');

/* Анімації */
@import url('animation.css');

/* -------------------------------------------- */
body {
   background-color: #0f1316;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
}

[class*='__container'] {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

.name {
   font-family: 'Ephesis', cursive;
   font-size: 24px;
   line-height: 2;
   text-align: center;
}

/* =============== CAR ======================= */
.section__container {
   background: url(../img/bg.webp) bottom 0% left 40% / auto no-repeat;
   position: relative;
   padding: 70px;
   min-height: 550px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-direction: column;
   gap: 50px;
}

.car {
   position: relative;
   width: 700px;
   height: 200px;
}

.upper-path {
   position: relative;
   height: 60px;
   width: 700px;
   transform: translateY(0%) scaleY(1);

   animation: transform-upper-path 0.5s linear backwards 1s;
   /* translateY, scaleY */
}

.upper-path__body {
   position: absolute;
   display: flex;
   right: 33px;
   top: 1px;
   height: 100%;
   width: 420px;
}

.upper-path__bottom-to-top-front {
   position: relative;
   width: 54px;
   border-top: 0 solid transparent;
   border-right: 0px solid transparent;
   border-bottom: 54px solid rgb(252, 168, 2);
   border-left: 100px solid transparent;
}

.upper-path__bottom-to-top-front::after {
   content: '';
   position: absolute;
   top: 6px;
   right: -3px;
   width: 6px;
   height: 1px;
   border-radius: 50%;
   background-color: rgb(252, 168, 2);
   transform: rotate(333deg);
}

.upper-path__windshield {
   z-index: 1;
   position: absolute;
   right: 23px;
   bottom: -52px;
   width: 30px;
   height: 51px;
   background: linear-gradient(90deg, rgb(72 72 72) -7%, rgb(44, 43, 43) 100%);
   border-radius: 5px 12px 5px 3px / 7px 52px 5px 3px;
   border-top: 3px solid rgb(44, 43, 43);
   border-right: 2px solid #2c2b2b;
   border-bottom: 3px solid #2c2b2b;
   box-shadow: -4px 0px 0px -3px inset #000000;
   transform: skewX(-61deg) translateY(0%) scaleY(1);

   animation: transform-windshield 0.5s linear backwards 6s;
   /*  skewX, translateY, scaleY */
}

.upper-path__bottom-to-top-center {
   width: 190px;
   border-radius: 69px 175px 0px 0px / 12px 28px 0px 0px;
   background-color: rgb(252, 168, 2);
}

.upper-path__bottom-to-top-back {
   position: relative;
   width: 175px;
   border-top: 0 solid transparent;
   border-right: 175px solid transparent;
   border-bottom: 47px solid rgb(252, 168, 2);
   border-left: 0px solid transparent;
}

.upper-path__bottom-to-top-back::before {
   content: '';
   position: absolute;
   top: 12px;
   right: -6px;
   width: 18px;
   height: 5px;
   background-color: rgb(252, 168, 2);
   transform: rotate(18deg);
}

.decor-rear-window {
   position: absolute;
   top: 31px;
   left: -1px;
   width: 141px;
   height: 7px;
   border-radius: 2px 7px 7px 7px;
   transform: rotate(15deg);
   display: flex;
   box-shadow: 141px 0px 1px 0px inset #2a2a2a;

   animation: shadow-rear-window 0.5s linear backwards 6.5s;
}

.decor-rear-window__block {
   width: 28px;
   height: 7px;
   border-radius: 4px 17px 2px 28px / 2px 17px 2px 28px;
   background-color: rgba(27, 26, 26, 1);
   border-bottom: 1px solid #121212;
   box-shadow: 0px 1px 3px 0px inset #454545;
   transform: rotate(349deg);

   animation: transform-rear-window-block 1s linear backwards 7s;
   /* background-color,  border-bottom, box-shadow, transform: rotate */
}

.lower-path {
   position: relative;
   height: 140px;
   width: 700px;

   animation: scale-y 0.5s linear backwards;
}

.lower-path__body {
   z-index: 0;
   position: relative;
   width: 100%;
   height: 100%;
}

/* neon------------------------------- */
.lower-path__body::after {
   z-index: -1;
   content: '';
   position: absolute;
   bottom: 36px;
   left: 50px;
   width: 590px;
   height: 20px;
   border-radius: 0 0 20px 20px;
   background-color: transparent;
   box-shadow: 0px 4px 12px 6px rgb(252, 168, 2);

   animation: opacity 0.5s linear backwards 17s;
}

.hood {
   position: absolute;
   left: 110px;
   top: -5px;
   width: 140px;
   height: 15px;
   transform: rotate(3deg);
   overflow: hidden;

   animation: top-hood 0.5s linear backwards 0.5s;
   /* top, transform: rotate */
}

.hood::after {
   content: '';
   position: absolute;
   top: 0;
   left: 15px;
   width: 100%;
   height: 100%;
   transform: rotate(-2deg);
   box-shadow: -5px -11px 8px -3px inset rgba(0, 0, 0, 0.641);
   border-radius: 14px 0 0 0;
}

.hood__decor {
   width: 100%;
   height: 100%;
}

.hood__decor::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: -25px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgb(252 106 2 / 0%);
   box-shadow: 10px 0px 0px 7px rgb(252, 168, 2);
}

.hood__decor::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 80%;
   height: 100%;
   background-color: rgb(252, 168, 2);
}

.lower-path__front {
   position: absolute;
   left: 23px;
   bottom: 35px;
   width: 220px;
   height: 106px;
   border-radius: 175px 0px 0px 35px / 25px 0px 0px 14px;
   background-color: rgb(252, 168, 2);
   box-shadow: 9px -6px 10px -10px inset rgb(0, 0, 0);

   animation: lower-path-front-shadow 0.5s linear backwards 19s;
}

.lower-path__front::before {
   content: '';
   position: absolute;
   top: 17px;
   left: -14px;
   width: 47px;
   height: 12px;
   box-shadow: 9px 1px 10px -10px inset #000;
   background-color: rgb(252, 168, 2);
   border-radius: 63px 0px 0px 35px / 17px 0px 0px 10px;
   transform: rotate(-15deg);

   animation: lower-path-front-before-position 0.5s linear backwards 12s;
   /* left, box-shadow, background-color */
}

.lower-path__front::after {
   content: '';
   position: absolute;
   left: -14px;
   bottom: 0px;
   width: 60px;
   height: 38px;
   box-shadow: 8px -6px 11px -10px inset #000;
   background-color: rgb(252, 168, 2);
   border-radius: 15px 30px 0px 70px / 9px 2px 0px 60px;

   animation: lower-path-front-after-position 0.5s linear backwards 12s;
   /* left, box-shadow, background-color */
}

.lower-path__center-back {
   position: absolute;
   right: 5px;
   bottom: 35px;
   width: 590px;
   height: 106px;
   border-radius: 111px 23px 85px 0px / 25px 49px 35px 0px;
   background-color: rgb(252, 168, 2);
}

.lower-path__center-back::after {
   content: '';
   position: absolute;
   top: -5px;
   right: 14px;
   width: 22px;
   height: 27px;
   background-color: rgb(252, 168, 2);
   border-radius: 50%;
   transform: rotate(312deg);

   animation: top-px 0.3s linear backwards 0.5s;
}

.lower-path__exhaust {
   position: absolute;
   right: 23px;
   bottom: 37px;
   width: 50px;
   height: 12px;
   background-color: #dddbdb;
   border-radius: 2px;
   box-shadow: 4px -4px 4px -2px inset #000000, 10px 5px 4px 1px inset #0a0a0a;

   animation: position-exhaust 0.5s linear backwards 13.5s;
}

.lower-path__decor {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: flex;
}

.lower-path__decor > * {
   position: relative;
}

.decor__start {
   flex: 0 0 215px;
}
.decor__center {
   flex: 0 0 auto;
}

.decor__end {
   flex: 1 0 auto;
}

.decor__outline {
   position: absolute;
   top: 18px;
   left: 24px;
   width: 39px;
   height: 47px;
   border-radius: 61px 78px 0px 6px / 42px 24px 0px 6px;
   transform: skew(15deg);
   box-shadow: 1px 0px 2px -1px rgb(48 48 48 / 45%);

   animation: width-height-decor-outline 0.5s linear backwards 18.5s;
}

.decor__outline::before {
   content: '';
   position: absolute;
   right: -20px;
   bottom: -4px;
   width: 20px;
   height: 3px;
   box-shadow: 0px -1px 2px -1px rgb(48 48 48 / 45%);

   animation: opacity 0.5s linear backwards 19s, width-decor-line 0.5s linear backwards 19s;
}

.headlight {
   position: absolute;
   top: 24px;
   left: 15px;
   height: 35px;
   width: 41px;
   border-right: 2px solid rgb(34, 34, 34);
   border-radius: 52px 66px 5px 6px / 14px 32px 5px 6px;
   background-color: transparent;
   overflow: hidden;
   transform: skew(15deg);

   animation: draw-headlight 0.5s linear backwards 15.5s;
   /* top, left, height, border-right */
}

.headlight::before {
   content: '';
   position: absolute;
   top: 1px;
   left: -34px;
   width: 41px;
   height: 42px;
   border-radius: 43%;
   border-right: 2px solid #303030;
   box-shadow: 5px 0px 0px 0px #303030;
}

.headlight__bg {
   position: relative;
   width: 41px;
   height: 35px;
   border-top: 2px solid rgb(34, 34, 34);
   clip-path: polygon(100% 0%, 100% 48%, 100% 100%, 21% 99%, 28% 73%, 0 0);
   background-color: #303030;
}

.headlight__bg::before {
   content: '';
   position: absolute;
   top: 6px;
   left: -11px;
   width: 59px;
   box-shadow: 19px 5px 7px 3px #e3e3e3;
   transform: rotate(15deg);
}

.headlight__bg::after {
   content: '';
   position: absolute;
   top: 30px;
   left: 16px;
   width: 41px;
   height: 0px;
   box-shadow: 0px 0px 5px 2px #e3e3e3;
   transform: rotate(351deg);
}

.headlight__bulb {
   position: absolute;
   right: -3px;
   bottom: 1px;
   width: 6px;
   height: 20px;
   border-radius: 2px;
   background-color: #ddd3c3;
   transform: rotate(10deg);
}

.decor__bumper-path {
   z-index: 3;
   position: absolute;
   top: 60px;
   left: 34px;
   width: 10px;
   height: 10px;
   border-radius: 3px 5px 5px 3px;
   background: linear-gradient(
      -3deg,
      rgb(56, 55, 55) 33%,
      rgb(234, 233, 233) 58%,
      rgb(189, 189, 189) 100%
   );
   transform-style: preserve-3d;
   transform: scaleX(7);

   animation: position-bumper 0.5s linear backwards 12.5s;
   /* width, left */
}

.decor__wrapper-picture-center {
   position: relative;
   padding-top: 26px;
   transform: rotate(-0.5deg);
   width: 100%;
}

.picture-center {
   position: relative;
   width: 460px;
   height: 60px;
   transform: skewX(20deg);

   animation: shadow 2s linear both 2s;
}

/* ! -- service element */
.picture-center:after {
   content: '';
   position: absolute;
   top: -2px;
   right: -1px;
   width: 103%;
   height: 104%;
   box-shadow: 0px 0px 0px 0px inset rgb(252, 168, 2);

   animation: shadow 1s linear both 20.5s;
}

.picture-center__dark-block {
   width: 100%;
   height: 100%;
   padding: 5px 0 8px 35px;
   border-radius: 6px 0px 0px 6px;
   background-color: #303030;
}

.picture-center__first-transparent-block,
.picture-center__second-transparent-block,
.picture-center__third-transparent-block {
   width: 100%;
   height: 100%;
   padding: 2px 0 2px 2px;
   border-top: 1px solid #303030;
   border-left: 1px solid #303030;
   border-bottom: 1px solid #303030;
   border-radius: 6px 0px 0px 6px;
   background-color: rgb(252, 168, 2);
}

.picture-center__second-transparent-block {
   border: none;
   border-radius: 6px 0px 0px 6px;
}

.picture-center__text {
   position: absolute;
   font-size: 12px;
   font-weight: 900;
   line-height: 1;
   padding: 0px 4px;
}

.picture-center__text--dark {
   top: 13px;
   left: -1px;
   color: #303030;
   background-color: rgb(252, 168, 2);

   animation: opacity 0.5s linear backwards 21.5s, appearance-scale 0.5s linear backwards 21.5s;
}

.picture-center__text--yellow {
   top: 25px;
   left: 5px;
   letter-spacing: 1px;
   color: rgb(252, 168, 2);

   animation: opacity 0.5s linear backwards 22s, appearance-scale 0.5s linear backwards 22s;
}

.decor__gradient {
   position: absolute;
   top: 15px;
   left: 50px;
   width: 420px;
   height: 55px;
   transform: rotate(359deg);
   background-color: rgba(0, 0, 0, 0);
   box-shadow: -367px 0px 91px -80px inset rgb(252, 168, 2);
}

.decor__shadow-start-center {
   position: absolute;
   top: 0px;
   left: -159px;
   width: 450px;
   height: 21px;
   overflow: hidden;
   transform: rotate(-0.5deg);

   animation: width-shadow-start-center 1s linear backwards 19s;
}

.decor__shadow-start-center::before {
   content: '';
   position: absolute;
   top: 22px;
   left: 0;
   width: 420px;
   height: 5px;
   box-shadow: 3px 1px 5px 0px rgba(48, 48, 48, 0.812);
}

.decor__shadow-center {
   position: absolute;
   top: -12px;
   right: 17px;
   width: 189px;
   height: 13px;
   overflow: hidden;
}

.decor__shadow-center::before {
   content: '';
   position: absolute;
   top: 6px;
   left: -20px;
   width: 228px;
   height: 50px;
   border-radius: 108px 0px 0px 0px / 22px 0px 0px 0px;
   transform: rotate(4deg);
   box-shadow: 0px 1px 5px -2px inset #00000070;

   animation: width-shadow-line 0.5s linear backwards 20s;
}

.black-triangle {
   position: absolute;
   top: 89px;
   left: 36px;
   width: 7px;
   height: 20px;
   border-radius: 0px 0px 0px 19px / 0px 0px 0px 39px;
   box-shadow: 0px 3px 1px 0px #000;
   background-color: #292929;
   transform: skew(292deg) rotate(271deg);

   animation: appearance-black-triangle 0.5s linear backwards 13s;
   /* -width, height  */
}

.silver-triangle {
   position: absolute;
   top: 64px;
   right: 2px;
   height: 22px;
   width: 18px;
   background-color: #959191;
   border-radius: 3px 0px 19px 3px;
   box-shadow: 0px 1px 5px -1px inset #000000;

   animation: opacity 0.5s linear backwards 14s, appearance-scale 0.5s linear backwards 14s;
}

.small-lamp {
   position: absolute;
   width: 12px;
   height: 6px;
   background-color: #f3dea7;
   border-radius: 1px;
   box-shadow: 0px 0px 2px 1px inset #303030, 0px 0px 0px 1px #303030;
}

.small-lamp--start {
   top: 80px;
   left: 67px;
   animation: opacity 0.5s linear backwards 16s, appearance-small-lamp 0.5s linear backwards 16s;
   /*  opacity , transform: scale, box-shadow */
}

.small-lamp--end {
   position: absolute;
   top: 62px;
   right: 28px;
   background-color: rgb(155, 2, 2);
   animation: opacity 0.5s linear backwards 16.5s, appearance-small-lamp 0.5s linear backwards 16.5s;
   /*  opacity , transform: scale, box-shadow */
}

.lower-path__wheels {
   position: absolute;
   bottom: 0px;
   left: 80px;
   width: 544px;
   height: 110px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.wheels__block {
   position: relative;
   flex: 0 0 140px;
   height: 100%;
   padding: 0 7px 0;
}

.wheels__block--rear {
   padding: 0 13px 0;
}

.wheels__bg {
   position: absolute;
   top: 0;
   left: 50%;
   width: 124px;
   height: 75px;
   transform: translate(-50%, 0%);
   background-color: #3a3737;
   border-radius: 51% 51% 0% 0% / 68% 68% 0% 0%;
   box-shadow: 0px 20px 40px 0px inset #000, 0px -2px 1px -1px rgb(252, 168, 2);

   animation: translate-half-scale 0.5s linear backwards 2.5s;
   /*  translate, scaleY */
}

.wheels__block--rear > .wheels__bg {
   width: 112px;
   border-radius: 51% 51% 2% 0% / 68% 68% 10% 0%;
   height: 75px;
}

.wheels__tyre {
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   width: 106px;
   height: 106px;
   border-radius: 50%;
   background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 70%);

   animation: translate-x-half-scale 0.5s linear backwards 3.5s;
}

.wheels__circle {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 76px;
   height: 76px;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0px 0px 4px 7px inset rgb(252, 168, 2);
   background: radial-gradient(circle, rgb(82 80 80) 65%, rgb(255 255 255) 100%);

   animation: transform-circle 0.5s linear backwards 4s;
   /* transform: translate, scale, box-shadow */
}

.wheels__lines-block {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
}

.line {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 1px;
   height: 72px;
   transform: translate(-50%, -50%) rotate(180deg);
   background-color: rgb(252, 168, 2);

   animation: transform-line 0.5s linear backwards 4.5s;
   /* height, transform: translate,rotate */
}

.line:before,
.line:after {
   z-index: 1;
   content: '';
   position: absolute;
   left: 0;
   width: 1px;
   height: 50%;
   box-shadow: 0px 2px 3px 1px #000;

   animation: line-before-after-box-shadow 0.5s linear backwards 5s;
}

.line:before {
   top: 0;
}

.line:after {
   top: 50%;
   transform: rotate(180deg);
}

.line:nth-child(odd)::before {
   background-color: rgb(252, 168, 2);
}

.line:nth-child(odd)::after {
   background-color: rgb(252, 106, 2);
}

.line:nth-child(even)::before {
   background-color: rgb(252, 106, 2);
}

.line:nth-child(even)::after {
   background-color: rgb(252, 168, 2);
}

.line--1 {
   transform: translate(-50%, -50%) rotate(0);
}
.line--2 {
   transform: translate(-50%, -50%) rotate(10deg);
}
.line--3 {
   transform: translate(-50%, -50%) rotate(20deg);
}
.line--4 {
   transform: translate(-50%, -50%) rotate(30deg);
}
.line--5 {
   transform: translate(-50%, -50%) rotate(40deg);
}
.line--6 {
   transform: translate(-50%, -50%) rotate(50deg);
}
.line--7 {
   transform: translate(-50%, -50%) rotate(60deg);
}
.line--8 {
   transform: translate(-50%, -50%) rotate(70deg);
}
.line--9 {
   transform: translate(-50%, -50%) rotate(80deg);
}
.line--10 {
   transform: translate(-50%, -50%) rotate(90deg);
}
.line--11 {
   transform: translate(-50%, -50%) rotate(100deg);
}
.line--12 {
   transform: translate(-50%, -50%) rotate(110deg);
}
.line--13 {
   transform: translate(-50%, -50%) rotate(120deg);
}
.line--14 {
   transform: translate(-50%, -50%) rotate(130deg);
}
.line--15 {
   transform: translate(-50%, -50%) rotate(140deg);
}
.line--16 {
   transform: translate(-50%, -50%) rotate(150deg);
}
.line--17 {
   transform: translate(-50%, -50%) rotate(160deg);
}
.line--18 {
   transform: translate(-50%, -50%) rotate(170deg);
}
.line--19 {
   transform: translate(-50%, -50%) rotate(180deg);
}
.line--20 {
   transform: translate(-50%, -50%) rotate(190deg);
}

.wheels__small-circle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 1px solid rgb(252, 106, 2);
   background-color: rgb(14 14 14);
   box-shadow: 0px 0px 3px 1px #000;

   animation: small-circle-transform 0.5s linear backwards 5s;
   /* transform: translate, scale, box-shadow */
}

.name--size {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.1);
   width: max-content;
   color: rgb(254, 174, 15);
}

.wheels__wrapper {
   z-index: 3;
   position: relative;
   width: 100%;
   height: 75px;
   border-radius: 51% 51% 0% 0% / 68% 68% 0% 0%;
   border-top: 10px solid rgb(252, 168, 2);
}

.wheels__wrapper::after {
   z-index: 3;
   content: '';
   position: absolute;
   top: -11px;
   left: 50%;
   transform: translateX(-50%);
   height: 75px;
   width: 100%;
   border-radius: 51% 51% 0% 0% / 68% 68% 0% 0%;
   box-shadow: 0px 6px 12px -8px inset #000, 0px 2px 0px 1px inset rgb(252, 168, 2);

   animation: wheels-wrapper-height-shadow 0.5s linear backwards 2.5s;
}

.wheels__block--rear > .wheels__wrapper {
   border-radius: 50% 50% 90% 0% / 70% 70% 21% 0%;
}

.wheels__block--rear > .wheels__wrapper::after {
   top: -10px;
   width: 114px;
   height: 75px;
   border-radius: 50% 50% 90% 0% / 70% 70% 0% 0%;
   box-shadow: 1px 6px 12px -8px inset #000, 0px 7px 0px 1px inset rgb(252, 168, 2),
      3px 2px 0px 0px inset rgb(252, 168, 2), -3px 2px 0px 0px inset rgb(252, 168, 2);
}

.car__door {
   position: absolute;
   bottom: 35px;
   right: 221px;
   width: 185px;
   height: 110px;
   overflow-y: hidden;
   transform-origin: center;

   animation: width-height-door 0.5s linear backwards 9s;
}

.car__door::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100px;
   height: 143px;
   border-left: 1px solid #2c2b2b;
   border-bottom: 1px solid #2c2b2b;
   border-radius: 143px 0px 0px 16px / 78px 0px 0px 64px;
}

.car__door::after {
   content: '';
   position: absolute;
   right: 0;
   bottom: 0;
   width: 100px;
   height: 143px;
   border-right: 1px solid #2c2b2b;
   border-bottom: 1px solid #2c2b2b;
   border-radius: 0px 130px 30px 0px / 0px 84px 104px 0px;
}

.car__handle {
   position: absolute;
   top: 11px;
   right: 20px;
   width: 9px;
   height: 5px;
   border-radius: 5px 2px 2px 5px;
   background-color: rgb(49 48 48);
   transform: scaleX(3);

   animation: transform-scale-x-door 0.5s linear backwards 10s;
}

.car__side-window {
   position: absolute;
   top: 10px;
   left: 300px;
   height: 48px;
   width: 179px;

   animation: transform-side-window 0.5s linear backwards 9.5s;
   /* top, left, transform: rotate, opacity */
}

.side-window__front {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100px;
   height: 48px;
}

.side-window__back {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 112px;
   height: 48px;
   overflow-x: hidden;
}

.back__left {
   position: absolute;
   right: 3px;
   bottom: 0px;
   width: 130px;
   height: 48px;
   border-top: 3px solid #2c2b2b;
   border-left: 5px solid #2c2b2b;
   border-bottom: 1px solid #2c2b2b;
   border-right: 4px solid #2c2b2b;
   border-radius: 38px 83px 0px 0px / 29px 16px 0px 0px;
   background-color: rgb(55 54 54);
   box-shadow: -3px 0px 4px 0px inset #454343;
   transform: skewX(342deg);
}

.front__bg {
   position: absolute;
   top: 8px;
   left: 0;
   width: 0;
   height: 0;
   border-bottom: 40px solid rgb(55 54 54);
   border-left: 69px solid transparent;
}

.front__top-line {
   position: absolute;
   top: -16px;
   left: 36px;
   width: 3px;
   height: 83px;
   transform: rotate(59deg);
   background-color: #2c2b2b;
   border-radius: 5px 1px 2px 5px / 10px 3px 3px 5px;
}

.front__bottom-line {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 168px;
   height: 3px;
   background-color: #2c2b2b;
   border-radius: 5px 0px 2px 5px / 5px 0px 2px 0px;
}

.car__side-mirror {
   position: absolute;
   left: 8px;
   bottom: 3px;
   width: 0;
   height: 0;
   border-bottom: 25px solid rgb(49 48 48);
   border-left: 41px solid transparent;
}

.car__side-mirror::after {
   content: '';
   position: absolute;
   top: 11px;
   left: -15px;
   width: 16px;
   height: 12px;
   border-radius: 17px 3px 3px 4px / 17px 4px 4px 4px;

   animation: shadow-bg-scale-x-mirror 0.5s linear forwards 10.5s;
}

/* indicator ======================= */
.indicator__list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}

.indicator__item {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 90px;
   height: 90px;
   background-color: transparent;
}

.indicator__item:not(:last-child)::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 100%;
   width: 32px;
   height: 2px;
   background-color: rgb(252, 106, 2);
}

/* -----------1- Body -  timing-function -  2.5s -  ------------ */
.indicator__item:nth-child(1) > .indicator__bg:after {
   animation: translate-x 1.5s linear backwards;
}
.indicator__item:nth-child(1) > .indicator__border:after {
   animation: translate-x 1.5s linear backwards;
}
.indicator__item:nth-child(1)::after {
   animation: width 1s linear backwards 1.5s;
}

/* -----------2  - Wheels - timing-function - 3.5s ------------ */
.indicator__item:nth-child(2) > .indicator__bg:after {
   animation: translate-x 2.5s linear backwards 2.5s;
}
.indicator__item:nth-child(2) > .indicator__border:after {
   animation: translate-x 2.5s linear backwards 2.5s;
}
.indicator__item:nth-child(2)::after {
   animation: width 1s linear backwards 5s;
}

/* -----------3 - Windows  - timing-function - 3s------------ */
.indicator__item:nth-child(3) > .indicator__bg:after {
   animation: translate-x 2s linear backwards 6s;
}
.indicator__item:nth-child(3) > .indicator__border:after {
   animation: translate-x 2s linear backwards 6s;
}
.indicator__item:nth-child(3)::after {
   animation: width 1s linear backwards 8s;
}

/* -----------4 - Door  - timing-function - 3s  ----------- */
.indicator__item:nth-child(4) > .indicator__bg:after {
   animation: translate-x 2s linear backwards 9s;
}
.indicator__item:nth-child(4) > .indicator__border:after {
   animation: translate-x 2s linear backwards 9s;
}
.indicator__item:nth-child(4)::after {
   animation: width 1s linear backwards 11s;
}

/* -----------5  - other details  - timing-function - 3.5s------------ */
.indicator__item:nth-child(5) > .indicator__bg:after {
   animation: translate-x 2.5s linear backwards 12s;
}
.indicator__item:nth-child(5) > .indicator__border:after {
   animation: translate-x 2.5s linear backwards 12s;
}
.indicator__item:nth-child(5)::after {
   animation: width 1s linear backwards 14.5s;
}

/* -----------6 - light  - timing-function - 3.5s ------------ */
.indicator__item:nth-child(6) > .indicator__bg:after {
   animation: translate-x 2s linear backwards 15.5s;
}
.indicator__item:nth-child(6) > .indicator__border:after {
   animation: translate-x 2s linear backwards 15.5s;
}
.indicator__item:nth-child(6)::after {
   animation: width 1s linear backwards 17.5s;
}

/* -----------7   decor  - timing-function - 4s ------------ */
.indicator__item:nth-child(7) > .indicator__bg:after {
   animation: translate-x 4s linear backwards 18.5s;
}
.indicator__item:nth-child(7) > .indicator__border:after {
   animation: translate-x 4s linear backwards 18.5s;
}

.indicator__border {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   overflow: hidden;
   background-color: transparent;
}

.indicator__border:after {
   content: '';
   width: 100%;
   height: 100%;
   background-color: rgb(252, 106, 2);
}

.indicator__bg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 94%;
   height: 94%;
   border-radius: 50%;
   overflow: hidden;
}

.indicator__bg:after {
   content: '';
   width: 100%;
   height: 100%;
   background-color: rgb(252, 168, 2);
}

.indicator__text {
   position: relative;
   color: #000;
   font-weight: 500;
}

.indicator__text--center {
   text-align: center;
}

/* ------------------------------------------------- */
/* .start {
   padding: 20px;
   background-color: red;
}

.section__car.car {
   display: none;
}

.start:hover + .car {
   display: block;
}

.section__indicator.indicator {
   display: none;
}

.start:hover + .car + .indicator {
   display: block;
} */
